<div class="row boxes">
  <div class="col-md-12">
    <div class="box box-solid box-default" data-widget="box-widget">
      <box-header [title]=title></box-header>
      <div class="box-body">
            <ng-content></ng-content>
      </div>
      <box-footer></box-footer>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
