<ul class="users-list clearfix">
  <li *ngFor="let avatar of avatars">
    <div class="col-xs-offset-1 col-xs-10">
    <app-avatar-content [avatar]="avatar" [imgClass]="'fixsize'" [mode]="'avatar'"></app-avatar-content>
    </div>
  </li>
</ul>
<span *ngIf="addAvatarsNr>0">+{{addAvatarsNr}}</span>
