<div class="container-fluid">
  <div class="{{params.getClass('container')}}">
    <lw-head [params]='params' (_inneradd)="inneradd(getPropVal(params,'params.filter'))" (_search) ="search({event: $event, mode :mode})"></lw-head>
    <section class="content">
      <c-datatable-new
              [params] = "params"
              [rows]="rows"
              (_click)="clickevent($event)"
              (_search)="search($event)"
              (_setPage)="setPage($event)"
              #datatable
      ></c-datatable-new>
    </section>
  </div>
</div>
<admin-attributes-modal *ngIf="((params.domelem.isDisplay('AddButton') && params.domelem.isDisplay('EditButton')))" [params] = "params" (loadingIndicatorEmmitter)='changeLoadingIndicator($event)' (refreshTableRowEmmitter)='refreshTableRow($event)'></admin-attributes-modal>

