<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-btn">
          <button type="button" class="btn-toggle-offcanvas" (click)="toggleSideMenu()"><i class="lnr lnr-menu fa fa-bars"></i></button>
      </div>


      <div class="navbar-right">


          <div id="navbar-menu">
              <ul class="nav navbar-nav">
                  <li>
                      <a [routerLink]="['/authentication/page-login']" class="icon-menu"><i class="icon-login"></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</nav>
