<ngx-datatable
#myTable
class="bootstrap"
[columnMode]="table.columnMode"
[headerHeight]="table.headerHeight"
[footerHeight]="table.footerHeight"
[rowHeight]="table.rowHeight"
[scrollbarH]="table.scrollbarH"
[rows]="rows"
[loadingIndicator]="loadingIndicator"
[externalPaging]="true"
[count]="params.apiparams.page.totalElements"
[offset]="params.apiparams.page.pageNumber"
[limit]="params.apiparams.page.size"
(page)='setPage($event)'>

<ngx-datatable-row-detail [rowHeight]="'100%'" #myDetailRow (toggle)="onDetailToggle($event)">
  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
    <template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{row: row}">

    </template>
  </ng-template>
</ngx-datatable-row-detail>

<ngx-datatable-column
*ngIf="detail"
[width]="50"
[resizeable]="false"
[sortable]="false"
[draggable]="false"
[canAutoResize]="true">
<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
  #
</ng-template>
<ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
  <a
    href="javascript:void(0)"
    [class.datatable-icon-right]="!expanded"
    [class.datatable-icon-down]="expanded"
    title="Expand/Collapse Row"
    (click)="toggleExpandRow(row, dexData)">
  </a>
</ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Id" *ngIf="false"></ngx-datatable-column>
<ngx-datatable-column [name]="col.name" *ngFor="let col of params.columns.dtcolumns;  let i = index; ">
  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <div class="col-xs-12 no-padding-left filterlabel">{{col.header.label | translate}}</div>
    <div class="col-xs-12 no-padding-left" *ngIf="col.header.filterable" [ngSwitch]="col.header.type">
      <app-filter-text
        *ngSwitchCase="'text'"
        [(ngModel)]="params.columns.columns[i].filter.value"
        (keyup)="search({event:$event,mode:'filter'})">
      </app-filter-text>
      <app-filter-select
        *ngSwitchCase="'dropdown'"
        [(ngModel)]="params.columns.columns[i].filter.value"
        [extdata]="params.columns.columns[i].headercell.extdata"
        (search)="search({event:$event,mode:'filterDn'})">
      </app-filter-select>
      <app-filter-select-boolean
        *ngSwitchCase="'boolean'"
        [(ngModel)]="params.columns.columns[i].filter.value"
        (search)="search({event:$event,mode:'filterDn'})">
      </app-filter-select-boolean>
      <app-filter-date
        *ngSwitchCase="'date'"
        [(ngModel)]="params.columns.columns[i].filter.value"
        (search)="search({event:$event,mode:'filterDn'})">
      </app-filter-date>
    </div>
  </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
      <div [ngSwitch]="col.row.type">
        <avatar-field *ngSwitchCase="'avatar'" [data]="getPropVal(row,col.row.field)"></avatar-field>
        <boolean-field *ngSwitchCase="'boolean'" [data]="getPropVal(row,col.row.field)"></boolean-field>
        <app-alert-field *ngSwitchCase="'alert'" [data]="getPropVal(row,col.row.field)"></app-alert-field>
        <status-field *ngSwitchCase="'status'" [data]="getPropVal(row,col.row.field)"></status-field>
        <text-field *ngSwitchCase="'text'" [data]="getPropVal(row,col.row.field)" [prefix]="getPropVal(col, 'row.prefix')" [subfix]="getPropVal(col, 'row.subfix')"></text-field>
        <progress-field *ngSwitchCase="'progress'" [data]="getPropVal(row,col.row.field)"></progress-field>
        <checkbox-field *ngSwitchCase="'checkbox'" [data]="getPropVal(row,col.row.field)" [id]="getPropVal(row,'id')" (onChangeCHeckedEmmitter)='onChangeChecked($event)'></checkbox-field>
        <contact-field *ngSwitchCase="'contact'" [data]="getPropVal(row,col.row.field)"></contact-field>
        <dest-field *ngSwitchCase="'dest'" [data]="getPropVal(row,col.row.field)"></dest-field>
        </div>
   </ng-template>
</ngx-datatable-column>
<ngx-datatable-column  name="Actions" sortable="false" prop="id" *ngIf="isAction" [headerClass]="headerClass" [cellClass]="headerClass">
  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    {{'common.actions' | translate}}
  </ng-template>
   <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ng-container *ngFor="let btn of params.buttons;">
        <c-button [button]="btn.button" [row]="row" (_click)="clickevent({method:btn.action, params:[value]})" [swalopt]="btn.swal"  *ngIf="isButtonDisplay(btn,params,row)"></c-button>
      </ng-container>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-footer>
  <ng-template
    ngx-datatable-footer-template
    let-rowCount="rowCount"
    let-pageSize="pageSize"
    let-selectedCount="selectedCount"
    let-curPage="curPage"
    let-offset="offset"
    let-isVisible="isVisible">
    <div class="page-count">
      {{params.apiparams.page.from}} - {{params.apiparams.page.to}} / {{params.apiparams.page.totalElements}}
    </div>
    <datatable-pager
      [pagerLeftArrowIcon]="'datatable-icon-left'"
      [pagerRightArrowIcon]="'datatable-icon-right'"
      [pagerPreviousIcon]="'datatable-icon-prev'"
      [pagerNextIcon]="'datatable-icon-skip'"
      [page]="curPage"
      [size]="pageSize"
      [count]="rowCount"
      [hidden]="!((rowCount / pageSize) > 1)"
      (change)="setPage($event)">
    </datatable-pager>
  </ng-template>
</ngx-datatable-footer>

</ngx-datatable>
