<div class="container-fluid">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					Gallery
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Pages</li>
					<li class="breadcrumb-item active">Gallery</li>
				</ul>
			</div>
			<div class="col-lg-7 col-md-4 col-sm-12 text-right">
				<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
					<div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true"></div>
					<span>Visitors</span>
				</div>
				<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
					<div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true"></div>
					<span>Visits</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
					<h2>Bootstrap 4 Gallery With Lightbox <small>All pictures taken from pexels.com</small></h2>
					<ul class="header-dropdown">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							 aria-expanded="false"></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="javascript:void(0);">Action</a></li>
								<li><a href="javascript:void(0);">Another Action</a></li>
								<li><a href="javascript:void(0);">Something else</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<div class="gallery b4gallery">
						<ngb-tabset>
							<ngb-tab title="All">
								<ng-template ngbTabContent>
									<div class="gallery-items-row row">
										<div *ngFor="let image of _albums; let i=index" class="item-column mb-4 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
											<img [src]="image.thumb" (click)="open(_albums,i)" class="gallery-item img-fluid" />
										</div>
									</div>
								</ng-template>
							</ngb-tab>
							<ngb-tab title="Tab1">
								<ng-template ngbTabContent>
									<div class="gallery-items-row row">
										<div *ngFor="let image of _albumsTab1; let i=index" class="item-column mb-4 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
											<img [src]="image.thumb" (click)="open(_albumsTab1,i)" class="gallery-item img-fluid" />
										</div>
									</div>
								</ng-template>
							</ngb-tab>
							<ngb-tab title="Tab2">
								<ng-template ngbTabContent>
									<div class="gallery-items-row row">
										<div *ngFor="let image of _albumsTab2; let i=index" class="item-column mb-4 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
											<img [src]="image.thumb" (click)="open(_albumsTab2,i)" class="gallery-item img-fluid" />
										</div>
									</div>
								</ng-template>
							</ngb-tab>
							<ngb-tab title="Tab3">
								<ng-template ngbTabContent>
									<div class="gallery-items-row row">
										<div *ngFor="let image of _albumsTab3; let i=index" class="item-column mb-4 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
											<img [src]="image.thumb" (click)="open(_albumsTab3,i)" class="gallery-item img-fluid" />
										</div>
									</div>
								</ng-template>
							</ngb-tab>
							<ngb-tab title="Tab4">
								<ng-template ngbTabContent>
									<div class="gallery-items-row row">
										<div *ngFor="let image of _albumsTab4; let i=index" class="item-column mb-4 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
											<img [src]="image.thumb" (click)="open(_albumsTab4,i)" class="gallery-item img-fluid" />
										</div>
									</div>
								</ng-template>
							</ngb-tab>
						</ngb-tabset>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
