<base-modal [title]="' '" #modalchild (CallModalCBEmmitter)="CloseModalCB()">
    <admin-roles-form *ngIf="content=='form'" #modalcontent (openModalEmmitter)="openModal()" (closeModalEmmitter)="closeModal()" (loadingIndicatorEmmitter)='loadingIndicatorEmitter($event)' (refreshTableRowEmmitter)='refreshTableRowEmitter($event)'></admin-roles-form>
</base-modal>
