<div class="container-fluid">
  <div class="{{params.getClass('container')}}">
    <lw-head [params]='params' (_inneradd)="inneradd(getPropVal(params,'params.filter'))" (_search) ="search({event: $event, mode :mode})"></lw-head>
    <section class="content">
      <c-datatable-new
              [params] = "params"
              [detail] = "true"
              [rows]="rows"
              (_click)="clickevent($event)"
              (_search)="search($event)"
              (_setPage)="setPage($event)"
              #datatable
              [templateRef]="expandedRow"
      ></c-datatable-new>
    </section>
  </div>
</div>
<ng-template #expandedRow let-row="row">
  <div id="detaile_container" class="row col-12">
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'customer.billing_zip_code' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.billing_zip_code}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'customer.billing_city' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.billing_city}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'customer.billing_street' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.billing_street}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'customer.billing_number' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.billing_number}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'customer.shipping_zip_code' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.shipping_zip_code}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'customer.shipping_city' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.shipping_city}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'customer.shipping_street' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.shipping_street}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'customer.shipping_number' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.shipping_number}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.created_at' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.created_at}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.updated_at' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.updated_at}}</h6></div>
    </div>
  </div>
</ng-template>
<app-admin-customers-modal *ngIf="((params.domelem.isDisplay('AddButton') && params.domelem.isDisplay('EditButton')))" [params] = "params" (loadingIndicatorEmmitter)='changeLoadingIndicator($event)' (refreshTableRowEmmitter)='refreshTableRow($event)'></app-admin-customers-modal>

