<p-checkbox color="success" [checked]="data" (change)="onChange($event.checked)" #prettyCheckboxComponent="ngxPrettyCheckbox">
    <i p-icon class="material-icons">done</i>
    <p-indeterminate>
        <i p-icon class="material-icons">remove</i>
        Changed
    </p-indeterminate>
    Indeterminate
</p-checkbox>
<div *ngIf="resetable" class="btn btn-danger closeBtn" (click)="onChange(null)"><span class="glyphicon glyphicon-remove"></span></div>
