<div class="container-fluid">
    <div class="block-header">

    </div>

    <div class="row clearfix">

    </div>

    <div class="row clearfix">

    </div>

    <div class="row clearfix">

    </div>

    <div class="row clearfix">

    </div>
</div>
