<div (click)="switch()" class="switch" [ngClass]="{ 'checked': value }" [attr.title]="label">
  <input type="checkbox" class="switch-input" [value]="value" [attr.checked]="value" [attr.aria-label]="label">
  <span class="switch-label" [attr.data-on]=" 'common.On' | translate" [attr.data-off]="'common.Off' | translate "></span>
  <span class="switch-handle"></span>
</div>
