<app-admin-registrations-list-registered [subtitle]="'common.incoming_registration'"></app-admin-registrations-list-registered>
<app-admin-registrations-list-maybe-later [subtitle]="'common.maybe_later'"></app-admin-registrations-list-maybe-later>

