<base-modal [csswidth]="'750'" [title]="' '" [params]=params #modalchild (CallModalCBEmmitter)="CloseModalCB()" (CallModalOpenCBEmmitter)="OpenModalCB()">
    <admin-registrations-form *ngIf="content=='form'" #modalcontent
    (openModalEmmitter)="openModal()"
    (closeModalEmmitter)="closeModal()"
    (loadingIndicatorEmmitter)='loadingIndicatorEmitter($event)'
    (refreshTableRowEmmitter)='refreshTableRowEmitter($event)'></admin-registrations-form>

</base-modal>
