<article class="comment-list__row" *ngFor="let row of rows">
  <label class="comment-list__label">
    {{row.created_at}}
    -
    {{getPropVal(row,'user.name')}}
  </label>
  <div class="comment-list__message">
    {{row.message}}
  </div>
</article>
