<base-modal [title]="' '" [params]=params #modalchild (CallModalCBEmmitter)="CloseModalCB()" (CallModalOpenCBEmmitter)="OpenModalCB()">
  <admin-orders-from *ngIf="content=='form'" #modalcontent
                         (openModalEmmitter)="openModal()"
                         (closeModalEmmitter)="closeModal()"
                         (loadingIndicatorEmmitter)='loadingIndicatorEmitter($event)'
                         (refreshTableRowEmmitter)='refreshTableRowEmitter($event)'></admin-orders-from>

</base-modal>

