<div *ngIf="!isLoading()">
  <form [formGroup]="ModeForm" name="form" (ngSubmit)="ModeForm.valid && processor('ModeForm')" #formDir="ngForm" novalidate>
    <name-field [isSubbmit]="isSubbmit"></name-field>
    <div class="form-group row no-padding-left" [ngClass]="displayCssFor('email')">
      <label for="email" class="col-sm-3 col-form-label text-right">{{'common.email' | translate}}</label>
      <div class="input-group col-sm-9">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
        </div>
        <input class="form-control" formControlName="email"/>
        <div class="col-sm-12">
          <div *ngIf="hasError('email', 'required')" class="help-block" >
            {{ 'translate.required' | translate: {field: translate('common.email')} }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row no-padding-left" [ngClass]="displayCssFor('phone')">
      <label for="phone" class="col-sm-3 col-form-label text-right">{{'common.phone' | translate}}</label>
      <div class="input-group col-sm-9">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-phone"></i></span>
        </div>
        <input class="form-control" formControlName="phone"/>
        <div class="col-sm-12">
          <div *ngIf="hasError('phone', 'required')" class="help-block" >
            {{ 'translate.required' | translate: {field: translate('common.phone')} }}
          </div>
        </div>
      </div>
    </div>
  <div class="form-group row no-padding-left" [ngClass]="displayCssFor('nationality')">
    <label for="nationality" class="col-sm-3 col-form-label text-right">{{'common.nationality' | translate}}</label>
    <div class="input-group col-sm-9">
      <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-globe"></i></span>
      </div>
      <app-select-field class="own-custom-select" [items]="nationalities" [blabel]="'display_name'" formControlName="nationality"></app-select-field>
      <div class="col-sm-12">
        <div *ngIf="hasError('nationality', 'required')" class="help-block" >
          {{ 'translate.required' | translate: {field: translate('common.nationality')} }}
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row no-padding-left" [ngClass]="displayCssFor('gender')">
    <label for="gender" class="col-sm-3 col-form-label text-right">{{'common.gender' | translate}}</label>
    <div class="col-sm-9">
      <div *ngFor="let item of genders">
        <label class="fancy-radio custom-color-pink w-fit-content float-left">
          <input type="radio" [value]="item.id" formControlName="gender"/>
          <span><i></i> {{item.display_name}} &nbsp;
            <span><i class="{{gendericon[item.name]}} hide_after" aria-hidden="true"></i></span>
          </span>
        </label>
      </div>
    </div>
    <div *ngIf="hasError('gender', 'required')" class="help-block">{{'common.gender' | translate}} {{'common.field' | translate}}  {{'common.specifying' | translate}} {{'common.required' | translate}}</div>
  </div>
    <div class="form-group col-2 d-inline-block">
        <button type="submit" [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">{{'common.'+action | translate}}</button>
        <img *ngIf="loading" [src]="sanitize(loadingGIF)" />
    </div>
    <div class="form-group col-2 offset-8 d-inline-block m-r-0 p-r-0 text-right">
        <button type="button"  class="btn btn-primary" (click)="closeModal('ModeForm')">{{'common.close' | translate}}</button>
    </div>
</form>
</div>
