<div class="container-fluid">
  <div class="{{params.getClass('container')}}">
    <lw-head [params]='params' (_inneradd)="inneradd(getPropVal(params,'params.filter'))" (_search) ="search({event: $event, mode :mode})"></lw-head>
    <section class="content">
      <c-datatable-new
              [params] = "params"
              [detail] = "true"
              [rows]="rows"
              (_click)="clickevent($event)"
              (_search)="search($event)"
              (_setPage)="setPage($event)"
              #datatable
              [templateRef]="expandedRow"
      ></c-datatable-new>
    </section>
  </div>
</div>
<ng-template #expandedRow let-row="row">
  <div id="detaile_container" class="row col-12">
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.order_date' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.order_date}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.customer_lastname' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.shipping_method}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.payment' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.payment}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.telephone' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.telephone}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.customer_email' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.customer_email}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.postcode' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.postcode}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.city' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.city}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.street' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.street}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.created_at' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.created_at}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.updated_at' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.updated_at}}</h6></div>
    </div>
  </div>
</ng-template>
<admin-orders-modal *ngIf="((params.domelem.isDisplay('AddButton') && params.domelem.isDisplay('EditButton')))" [params] = "params" (loadingIndicatorEmmitter)='changeLoadingIndicator($event)' (refreshTableRowEmmitter)='refreshTableRow($event)'></admin-orders-modal>

