<div class="row" *ngIf="!this.__.isEmpty(this.data)">
    <h3>{{getName()}}</h3>
</div>
<div class="row">
    <h3>{{getPosition()}} </h3>
</div>
<div class="row">
    <h3>{{getPhone()}} </h3>
</div>
<div class="row">
    <h3>{{getEmail()}} </h3>
</div>
<div class="row" *ngIf="!this.__.isEmpty(getPropVal(this.data, 'organizations', []))">
  <div class="col-xs-12 no-padding">
      <h3>{{getPropVal(this.data, 'organizations[0].long_name', ' ')}} </h3>
  </div>
  <div class="col-xs-4" *ngIf="getPropVal(this.data, 'organizations[0].logo', '') != ''">
      <app-avatar-content [avatar]="getPropVal(this.data, 'organizations[0].logo', '')"></app-avatar-content>
  </div>
</div>
