<div class="col-xs-12 no-padding">
  <input class="slider" type="range" [(ngModel)]="value" min="{{min}}" max="{{max}}" step="1" #slider (input)="0" (change)="onChange()">
  <label> &nbsp;({{value}})</label>
</div>

