<div class="container-fluid">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					Timeline
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Pages</li>
					<li class="breadcrumb-item active">Timeline</li>
				</ul>
			</div>
			<div class="col-lg-7 col-md-4 col-sm-12 text-right">
				<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
					<div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true"></div>
					<span>Visitors</span>
				</div>
				<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
					<div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true"></div>
					<span>Visits</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-12">
			<div class="card">
				<div class="body">
					<ng-container *ngFor="let post of posts">
						<div class="timeline-item" ngClass='{{post.class}}' [attr.date-is]="post.date">
							<h5>{{ post.header }}</h5>
							<span><a href="javascript:void(0);">{{post.user}}</a> {{post.location}}</span>
							<div class="msg">
								<p>{{ post.message }}</p>
								<a href="javascript:void(0);" class="m-r-20"><i class="icon-heart"></i> Like</a>
								<a href="javascript:void(0);" role="button" data-toggle="collapse" aria-expanded="false"
									aria-controls="collapseExample" (click)="toggleComment()"><i class="icon-bubbles"></i> Comment</a>
								<div class=" m-t-10" id="collapseExample" [ngClass]="{'collapse':!showComment}">
									<div class="well">
										<form>
											<div class="form-group">
												<textarea rows="2" class="form-control no-resize"
													placeholder="Enter here for tweet..."></textarea>
											</div>
											<button class="btn btn-primary">Submit</button>
										</form>
									</div>
								</div>

							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>

</div>
