<button
  type="{{current.type}}"
  title="{{current.label | translate}}"
  class="btn"
  [class]=getbtnclass()
  (click)= "fireSwal($event)"
  md-icon-button>
  <span [class]="tclass" *ngIf="current.tloc == 'prefix'" >{{current.label | translate}} </span>
  <i *ngIf="current.iclass != ''" class="{{current.iclass}}"></i>
  <span [class]="tclass" *ngIf="current.tloc == 'subfix'"> {{current.label | translate}}</span>
</button>
<swal
  #confirmSwal
  title="{{getTitle(getPropVal(swal, 'title')) | translate}}"
  html="{{getPropVal(swal, 'text') | translate}}"
  type="{{getPropVal(swal, 'type') }}"
  [showCancelButton]="getPropVal(swal, 'showCancelButton')"
  [focusCancel]="getPropVal(swal, 'focusCancel')"
  [swalOptions]="{ confirmButtonText: getPropVal(swal, 'confirmButtonText')  | translate, cancelButtonText: getPropVal(swal, 'cancelButtonText') | translate }"
  (confirm)="confirm()">
</swal>
