
<div class="container-fluid">
	<div class="{{params.getClass('container')}}">
		<lw-head [params]='params' (_inneradd)="inneradd(getPropVal(params,'apiparams.filter'))" (_search) ="search({event: $event, mode :mode})"></lw-head>
  <br/>
  <h4>{{subtitle | translate}} - {{host}}</h4>
	<section class="content">
		<c-datatable-new
    [params] = "params"
    [detail] = "true"
		[rows]="rows"
		(_click)="clickevent($event)"
		(_search)="search($event)"
    (_setPage)="setPage($event)"
    [dexData] = "{buttons:buttons}"
    #datatable
    [templateRef]="expandedRow"
		></c-datatable-new>
	</section>
	</div>
</div>
<ng-template #expandedRow let-row="row" >
  <div id="detaile_container" class="row d-inline-block col-12 p-r-0 p-t-10">
    <div class="row col-12 d-inline-block d-lg-none d-xl-none m-b-10">
      <div class="col-2 d-inline-block"><span class="h7"><strong>{{'common.flags' | translate}}</strong></span></div>
      <div class="col-10 d-inline-block">
          <ng-container *ngFor="let btn_act of row.params.buttons;">
            <c-button [button]="btn_act.button"  [tclass]="'h7'" [row]="row" (_click)="clickevent({method:btn_act.action, params:[row.id]})" [swalopt]="btn_act.swal"  *ngIf="isButtonDisplay(btn_act,params,row)"></c-button>
          </ng-container>
      </div>
    </div>
    <div class="row col-12 m-b-10">
      <div class="col-2"><span class="h7"><strong>{{'customer.name' | translate}}</strong></span></div>
      <div class="col-10"><span class="h7">{{row.name}}</span></div>
    </div>
    <div class="row col-12 m-b-10">
      <div class="col-2"><span class="h7"><strong>{{'common.email' | translate}}</strong></span></div>
      <div class="col-10"><span class="h7">{{row.email}}</span></div>
    </div>
    <div class="row col-12 m-b-10">
      <div class="col-2"><span class="h7"><strong>{{'common.phone' | translate}}</strong></span></div>
      <div class="col-10"><span class="h7">{{row.phone}}</span></div>
    </div>
    <div class="row col-12 m-b-10">
      <div class="col-2"><span class="h7"><strong>{{'common.message' | translate}}</strong></span></div>
      <div class="col-10"><span class="h7">{{row.message}}</span></div>
    </div>
    <div class="row col-12 m-b-10">
      <div class="col-2"><span class="h7"><strong>{{'common.comments' | translate}}</strong></span></div>
    </div>
    <div class="row col-12 d-inline-block m-b-10">
      <div class="col-2 d-inline-block p-t-10"><span class="h7"><strong>{{'common.flags' | translate}}</strong></span></div>
      <div class="col-10 d-inline-block">

        <ng-container *ngFor="let btn of row.dexData.buttons;">
          <c-button class="d-inline-block float-left m-t-10"  [button]="getJsonProperty(btn.extdata,'button')" [tclass]="'h7'" (_click)="clickevent({method:getJsonProperty(btn.extdata,'action'), params:[row.id]})"  [outline]="true" [label]="btn.display_name"></c-button>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>
<admin-registrations-modal *ngIf="params.domelem.isDisplay('ReadingButton')" (loadingIndicatorEmmitter)='changeLoadingIndicator($event)' (refreshTableRowEmmitter)='refreshTableRow($event)'></admin-registrations-modal>

