<div *ngIf="!isLoading()">
  <form [formGroup]="ModeForm" name="form" (ngSubmit)="ModeForm.valid && processor()" #formDir="ngForm" novalidate>
    <name-field [isSubbmit]="isSubbmit"></name-field>
    <div class="form-group" [ngClass]="{ 'has-error': formDir.submitted && ModeForm.controls.username.invalid }">
        <label for="username">{{'common.username' | translate}}</label>
        <input type="text" class="form-control" formControlName="username"/>
        <div *ngIf="hasError('message', 'required')"  class="help-block">{{'common.username' | translate}}</div>
    </div>
    <div class="form-group">
      <label for="email">{{'common.email' | translate}}</label>
      <div class="col-sm-12 no-padding"  formArrayName="emails"
        *ngFor="let item of ModeForm.get('emails').controls; let i = index; ">
          <div class="form-group col-sm-12 no-padding" [formGroupName]="i" [ngClass]="{ 'has-error': formDir.submitted && ModeForm.controls.emails.controls[i].controls.email.invalid }">
              <div class="col-sm-12 no-padding">
                  <input class="form-control" formControlName="email" />
              </div>
          </div>
            <div *ngIf="hasError('message', 'required')"  class="col-sm-7 col-sm-offset-3 help-block">{{i+1}}. {{'common.emailrequired' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="phone">{{'common.phone' | translate}}</label>
      <div class="col-sm-12 no-padding"  formArrayName="phones"
        *ngFor="let item of ModeForm.get('phones').controls; let i = index; ">
          <div class="form-group col-sm-12 no-padding" [formGroupName]="i" [ngClass]="{ 'has-error': formDir.submitted && ModeForm.controls.phones.controls[i].controls.phone.invalid }">
              <div class="col-sm-12 no-padding">
                  <input class="form-control" formControlName="phone" />
              </div>
          </div>
            <div *ngIf="hasError('message', 'required')"  class="col-sm-7 col-sm-offset-3 help-block">{{i+1}}. {{'common.phonerequired' | translate}}</div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': formDir.submitted && ModeForm.controls.birth_date.invalid }">
      <label for="birth_date">{{'common.birth_date' | translate}}</label>
      <app-date-field formControlName="birth_date" [minDate]="1970-01-01"></app-date-field>
      <div *ngIf="hasError('message', 'required')"  class="help-block">{{'common.birth_date' | translate}} {{'common.field' | translate}}  {{'common.specifying' | translate}} {{'common.required' | translate}}</div>
    </div>

    <div *ngIf="false"  class="form-group" [ngClass]="{ 'has-error': formDir.submitted && ModeForm.controls.password.invalid }">
      <label for="password">{{'common.password' | translate}}</label>
      <input type="password" class="form-control" formControlName="password"/>
      <div *ngIf="hasError('message', 'required')"  class="help-block">{{'common.password' | translate}} {{'common.field' | translate}}  {{'common.specifying' | translate}} {{'common.required' | translate}}</div>
    </div>
      <div *ngIf="false" class="form-group" [ngClass]="{ 'has-error': formDir.submitted && (ModeForm.controls.password_confirmation.invalid || ModeForm.hasError('mismatchedPasswords')) }">
      <label for="password_confirmation">{{'common.passwordconfirm' | translate}}</label>
      <input type="password" class="form-control" formControlName="password_confirmation"/>
      <div *ngIf="hasError('message', 'required')"  class="help-block">{{'common.passwordconfirm' | translate}} {{'common.field' | translate}}  {{'common.specifying' | translate}} {{'common.required' | translate}}</div>
      <div *ngIf="hasError('message', 'required')" class="help-block">{{'common.Passwordsdonotmatch' | translate}}</div>
    </div>
    <div class="form-group">
      <label for="status">{{'common.status' | translate}}</label>
      <app-select-field [items]="statuses"  [blabel]="'display_name'" [bvalue]="'name'" formControlName="status"></app-select-field>
      <div *ngIf="hasError('message', 'required')"  class="help-block">{{'common.type' | translate}} {{'common.field' | translate}}  {{'common.specifying' | translate}} {{'common.required' | translate}}</div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">{{'common.'+action | translate}}</button>
      <img *ngIf="loading" [src]="sanitize(loadingGIF)" />
    </div>
  </form>
</div>
