<div class="{{ngcls}}" *ngIf="!readonly">
<ng-select
  [ngClass]="ngcls"
  [items]="items"
  labelForId="value"
  bindLabel="{{blabel}}"
  bindValue="{{bvalue}}"
  placeholder="{{'common.choose_one' | translate}}"
  [virtualScroll]="true"
  [(ngModel)]="value"
  (change)="change($event)">
</ng-select>
</div>
<div *ngIf="readonly">
    <span>{{value}}</span>
</div>
