<div class="container-fluid">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					FAQs
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Pages</li>
					<li class="breadcrumb-item active">FAQs</li>
				</ul>
			</div>
			<div class="col-lg-7 col-md-4 col-sm-12 text-right">
				<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
					<div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true"></div>
					<span>Visitors</span>
				</div>
				<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
					<div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true"></div>
					<span>Visits</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="card">
			<div class="body">
				<h6 class="p-10 bg-info text-light">General</h6>
				<div class="accordion custom" id="accordion">
					<div>
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseOne')">
									How may times Lorum Ipsum has been used in this theme?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseOne'}">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
								moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
								shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
								proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
								aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div>
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseTwo')">
									How many instances of Lorum Ipsum usage can be found on the web?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseTwo'}">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
								moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
								shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
								proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
								aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div>
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseThree')">
									How much does it cost to use Lorem ipsum?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseThree'}">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
								moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
								shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
								proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
								aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
				</div>
				<div class="m-t-50"></div>

				<h6 class="p-10 bg-warning text-light">Security and Privacy</h6>
				<div class="accordion custom" id="accordion1">
					<div>
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseOne1')">
									How much does it cost to use Lorem ipsum?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseOne1'}">
							<div class="card-body">
								non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
								tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
								anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
								excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
								nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div>
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseTwo2')">
									Lorem ipsum commodo adipisicing sunt ad aliqua velit nulla?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseTwo2'}">
							<div class="card-body">
								enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
								skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
								aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
								helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
								butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
								probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div>
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseThree3')">
									How much does it cost to use Lorem ipsum?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseThree3'}">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
								moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
								shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
								proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
								aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

</div>
