<base-modal [title]="sample" [params]=params #modalchild (CallModalCBEmmitter)="CloseModalCB()" (CallModalOpenCBEmmitter)="OpenModalCB()">
<admin-tasks-form *ngIf="content=='form'" #modalcontent
                    (openModalEmmitter)="openModal()"
                    (closeModalEmmitter)="closeModal()"
                    (loadingIndicatorEmmitter)='loadingIndicatorEmitter($event)'
                    (refreshTableRowEmmitter)='refreshTableRowEmitter($event)'></admin-tasks-form>

</base-modal>
