<div *ngIf="!isLoading()">
  <form [formGroup]="ModeForm" name="form" (ngSubmit)="ModeForm.valid && processor('ModeForm')" #formDir="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': formDir.submitted && ModeForm.controls.cron.invalid }">
      <label for="syncedorder">{{'common.cron' | translate}}</label>
      <input type="text" class="form-control" formControlName="cron"/>
      <div *ngIf="hasError('message', 'required')"  class="help-block">{{'common.cron' | translate}}</div>
    </div>
    <div class="form-group" [ngClass]="displayCssFor('closed')">
      <label for="closed">{{'common.stopme' | translate}}</label>
      <input type="checkbox" class="form-control" formControlName="stopme"/>
      <div *ngIf="hasError('synced', 'required')"  class="help-block">{{'common.stopme' | translate}}</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': formDir.submitted && ModeForm.controls.cron.invalid }">
      <label for="limit">{{'common.limit' | translate}}</label>
      <input type="text" class="form-control" formControlName="limit"/>
      <div *ngIf="hasError('message', 'required')"  class="help-block">{{'common.limit' | translate}}</div>
    </div>
    <div class="form-group col-sm-2">
      <button type="submit" [disabled]="loading" class="btn btn-primary">{{'common.'+action | translate}}</button>
      <img *ngIf="loading" [src]="sanitize(loadingGIF)" />
      <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
    </div>
    <div class="form-group col-sm-2 col-sm-offset-8 text-right">
      <button type="button"  class="btn btn-primary" (click)="closeModal('ModeForm')">{{'common.close' | translate}}</button>
    </div>
  </form>
</div>

