<div *ngIf="_data != null">
  <div class="col-xs-5 pull-left">
  <app-avatar-content [avatar]="_data.owner[0]" [imgClass]="'fixsize'" [mode]="'avatar'"></app-avatar-content>
  </div>
  <div class="col-xs-5 pull-left">
    <span>{{_data.working_hours}} óra</span>
  </div>
</div>
