<div *ngFor="let contact of data; let i = index;">
  <span>{{i}}. {{contact.name}}</span>
  <span *ngIf="contact.email != ''"><br>{{contact.email}}</span>
  <span *ngIf="contact.phone_number != ''"><br>{{contact.phone_number}}</span>
  <span *ngIf="contact.position != ''"><br>{{contact.position}}</span>
</div>

