<div class="container-fluid">
	<div class="{{params.getClass('container')}}">
		<lw-head [params]='params' (_inneradd)="inneradd(getPropVal(params,'params.filter'))" (_search) ="search({event: $event, mode :mode})"></lw-head>
		<section class="content">
			<c-datatable-new
			[params] = "params"
			[rows]="rows"
			(_click)="clickevent($event)"
			(_search)="search($event)"
			(_setPage)="setPage($event)"
			#datatable
      		[templateRef]="expandedRow"
			></c-datatable-new>
		</section>
	</div>
</div>
<ng-template #expandedRow let-row="row">
  <div style="padding-left:35px;">
    <div><strong>{{row.username}}</strong></div>
    <div>Teszt</div>
  </div>
</ng-template>
<admin-users-modal *ngIf="((params.domelem.isDisplay('AddButton') && params.domelem.isDisplay('EditButton')))" [params] = "params" (loadingIndicatorEmmitter)='changeLoadingIndicator($event)' (refreshTableRowEmmitter)='refreshTableRow($event)'></admin-users-modal>
