<modal id="{{domid}}" >
    <div class="modal" *ngIf="display">
    	<div class="modal-header">
    		<section>
          <h3 class="no-margin-bottom">{{'role.edit_permission' | translate}}
              <close-button (click) = "closeModal()"></close-button>
            </h3>
        </section>
    	</div>
        <div class="modal-body">
 			<section class="content-header"><h1></h1></section>
			<section class="content displayGrid">
		    	<form [formGroup]="ModeForm" name="ModeForm" (ngSubmit)="ModeForm.valid && processor()" #formDir="ngForm" novalidate>

          <div class="col-sm-12">
            <div class="col-lg-4 pull-none" formArrayName="permissions"
          *ngFor="let item of ModeForm.get('permissions').controls; let i = index; ">
              <div class="form-group col-sm-12 no-padding-left" [formGroupName]="i">

                <div class="pretty p-default p-curve p-fill col-xs-2">
                  <input type="checkbox" [checked]="item.value.checked" (change)="onChangeChecked('permissions',item, $event.target.checked)"/>
                  <div class="state text-left">
                    <label>{{item.value.display_name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
		   		<div class="col-sm-12">
			   		<div class="form-group col-sm-2">
			            <button type="submit" [disabled]="loading" class="btn btn-primary">{{'common'+action | translate}}</button>
			            <img *ngIf="loading" [src]="sanitize(loadingGIF)" />
			            <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
			        </div>
			        <div class="form-group col-sm-2 col-sm-offset-8 text-right">
		            	<button type="button"  class="btn btn-primary" (click)="closeModal()">{{'common.close' | translate}}</button>
		        	</div>
	        	</div>
		    	</form>
			</section>
		</div>
    </div>
    <div class="modal-background"></div>
</modal>
