<div class="{{params.classes.container}}">
	<lw-head [params]='params' (_inneradd)="inneradd(getPropVal(params,'params.filter'))" (_search) ="search({event: $event, mode :mode})"></lw-head>

  <section class="content">
	<c-datatable-new
	  [params] = "params"
	  [rows]="rows"
	  (_click)="clickevent($event)"
	  (_search)="search($event)"
	  (_setPage)="setPage($event)"
	  #datatable
	></c-datatable-new>
  </section>

</div>
<admin-usergroups-modal *ngIf="(params.mods.AddButton && params.mods.EditButton)" (loadingIndicatorEmmitter)='changeLoadingIndicator($event)' (refreshTableRowEmmitter)='refreshTableRow($event)'></admin-usergroups-modal>
<admin-usergroups-roles-form *ngIf="(params.mods.RelateRoleButton)" (loadingIndicatorEmmitter)='changeLoadingIndicator($event)' (refreshTableRowEmmitter)='refreshTableRow($event)'></admin-usergroups-roles-form>

