<div *ngIf="!isLoading()">
  <form [formGroup]="ModeForm" name="form" (ngSubmit)="ModeForm.valid && processor('ModeForm')" #formDir="ngForm" novalidate>
    <div class="form-group" [ngClass]="displayCssFor('message')">
      <label for="name">Message</label>
      <textarea class="form-control" formControlName="message"></textarea>
      <div *ngIf="hasError('message', 'required')" class="help-block">Message is required</div>
    </div>
    <div class="form-group" [ngClass]="displayCssFor('extra')">
      <label for="name">{{'common.extra' | translate}}</label>
      <textarea class="form-control" formControlName="extra"></textarea>
      <div *ngIf="hasError('extra', 'required')" class="help-block">extra is required</div>
    </div>
    <div class="form-group col-sm-2 col-sm-offset-8 text-right">
      <button type="button"  class="btn btn-primary" (click)="closeModal('ModeForm')">{{'common.close' | translate}}</button>
    </div>
  </form>
</div>
