<div id="left-sidebar" class="sidebar" *ngIf="sidebarVisible" style="overflow-y:scroll;">
    <div class="sidebar-scroll">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'menu'}" (click)="changeNavTab('menu')">Menu</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/tasks/task-list']"><i class="icon-user"></i>{{'Processek' }}</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/logs/logs-list']"><i class="icon-user"></i>{{'Log' }}</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/products/products-list']"><i class="icon-user"></i>{{'Termékek' }}</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/stocksqtys/stocksqtys-list']"><i class="icon-user"></i>{{'Készletek' }}</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/attributes/attributes-list']"><i class="icon-user"></i>{{'Jellemzők' }}</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/categories/categories-list']"><i class="icon-user"></i>{{'Termék kategoriák' }}</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/orders/orders-list']"><i class="icon-user"></i>{{'Rendelések' }}</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/customers/customers-list']"><i class="icon-user"></i>{{'Vevők' }}</a></li>

                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
