<base-modal [title]="' '" [params]=params #modalchild (CallModalCBEmmitter)="CloseModalCB()" (CallModalOpenCBEmmitter)="OpenModalCB()">
  <admin-attributes-from *ngIf="content=='form'" #modalcontent
                         (openModalEmmitter)="openModal()"
                         (closeModalEmmitter)="closeModal()"
                         (loadingIndicatorEmmitter)='loadingIndicatorEmitter($event)'
                         (refreshTableRowEmmitter)='refreshTableRowEmitter($event)'></admin-attributes-from>

</base-modal>
