<base-modal [title]="' '" [params]=params #modalchild (CallModalCBEmmitter)="CloseModalCB()" (CallModalOpenCBEmmitter)="OpenModalCB()">
  <admin-customers-from *ngIf="content=='form'" #modalcontent
                     (openModalEmmitter)="openModal()"
                     (closeModalEmmitter)="closeModal()"
                     (loadingIndicatorEmmitter)='loadingIndicatorEmitter($event)'
                     (refreshTableRowEmmitter)='refreshTableRowEmitter($event)'></admin-customers-from>

</base-modal>

