<modal [style.width.px]="csswidth" class="modal" id="{{domid}}" role="dialog">
  <div class="modal" *ngIf="display" [style.width.px]="csswidth">
    <modal-header (closeModalEmmitter)="closeModal()" [title]="title"></modal-header>
    <div class="modal-body">
      <section class="content-header"><h1></h1></section>

      <section id="modalContent" class="content" [ngStyle]="{'min-height.px': contentMaxHeight}">
          <ng-content></ng-content>
      </section>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>

