<base-modal [title]="' '" [params]=params #modalchild (CallModalCBEmmitter)="CloseModalCB()" (CallModalOpenCBEmmitter)="OpenModalCB()">
    <admin-users-form *ngIf="content=='form'" #modalcontent
    (openModalEmmitter)="openModal()"
    (closeModalEmmitter)="closeModal()"
    (loadingIndicatorEmmitter)='loadingIndicatorEmitter($event)'
    (refreshTableRowEmmitter)='refreshTableRowEmitter($event)'></admin-users-form>

    <admin-users-selection *ngIf="content=='selection'" #modalcontent
    (openModalEmmitter)="openModal()"
    (closeModalEmmitter)="closeModal()"
    (updateUserEmmitter)="updateUser($event)"
    (loadingIndicatorEmmitter)='loadingIndicatorEmitter($event)'
    (refreshTableRowEmmitter)='refreshTableRowEmitter($event)'></admin-users-selection>

    <app-admin-image-upload-and-crop *ngIf="content=='uploadAvatar'" #modalcontent
    (openModalEmmitter)="openModal()"
    (closeModalEmmitter)="closeModal()"
    (saveAvatarEmmitter)="saveAvatar($event)"
    (loadingIndicatorEmmitter)='loadingIndicatorEmitter($event)'
    (refreshTableRowEmmitter)='refreshTableRowEmitter($event)'></app-admin-image-upload-and-crop>
</base-modal>
