<input type="file" (change)="fileChangeEvent($event)" />

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>
<div *ngIf="croppedImage != ''">
<img [src]="sanitize(croppedImage)" class="circle-image" alt="User Image">
<button type="button" class="btn btn-primary" (click)="save()">{{'common.save' | translate}}</button>
</div>
