<div class="card">
  <div class="header">
      <h2>Referrals</h2>
      <app-card-actions></app-card-actions>
  </div>
  <div class="body">
      <ul class="list-unstyled list-referrals">
          <li>
              <p><span class="value">2301</span><span class="text-muted float-right">visits from Facebook</span></p>
              <div class="progress progress-xs progress-transparent custom-color-blue">
                  <div class="progress-bar" data-transitiongoal="87" [ngStyle]="{'width.%': facebookTransitiongoal}"></div>
              </div>
          </li>
          <li>
              <p><span class="value">2107</span><span class="text-muted float-right">visits from Twitter</span></p>
              <div class="progress progress-xs progress-transparent custom-color-purple">
                  <div class="progress-bar" [ngStyle]="{'width.%': tweeterTransitiongoal}"></div>
              </div>
          </li>
          <li>
              <p><span class="value">2308</span><span class="text-muted float-right">visits from Search</span></p>
              <div class="progress progress-xs progress-transparent custom-color-yellow">
                  <div class="progress-bar" [ngStyle]="{'width.%': searchTransitiongoal}"></div>
              </div>
          </li>
          <li>
              <p><span class="value">1024</span><span class="text-muted float-right">visits from Affiliates</span></p>
              <div class="progress progress-xs progress-transparent custom-color-green">
                  <div class="progress-bar" [ngStyle]="{'width.%': visitsTransitiongoal}"></div>
              </div>
          </li>
      </ul>
  </div>
</div>
