
<div class="container-fluid" *ngIf="!isResizing">
    <div class="block-header">

    </div>

    <div class="row clearfix">

    </div>

    <div class="row clearfix">

    </div>

    <div class="row clearfix">

    </div>

    <div class="row clearfix">

    </div>

    <div class="row clearfix">

    </div>
</div>
