<section class="content-header">
  <h1 *ngIf="params.domelem.isDisplay('HeaderTop') && params.domelem.isDisplay('Address')">
    {{params.getText('headerTitle') | translate}}
  </h1>
  <ul *ngIf="params.domelem.isDisplay('Breadcumps')" class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
    <!--<li class="breadcrumb-item">Users</li> -->
    <!-- <li class="breadcrumb-item active">List</li>-->
  </ul>
  <br *ngIf="params.domelem.isDisplay('AddButton')">
  <!-- <c-button
     [button]="params.createButton.button"
     [label]="params.createButton.label"
     [tloc]="params.createButton.tloc"
     (click)="clickevent({method:params.createButton.action, params:[params.apiparams.filter.parent_id]})"
     *ngIf="isButtonDisplay(params.createButton,params)">
   </c-button>-->
   <br *ngIf="params.domelem.isDisplay('AddButton')">
   <br *ngIf="params.domelem.isDisplay('Sizes')">
   <div *ngIf="params.domelem.isDisplay('Sizes')" class="row">
     <div class="col-md-2 col-lg-2 mt-2">
       <div class="col-md-10 col-lg-10 mt-10 no-padding">
         <ng-select [items]="sizes"
           labelForId="name"
           bindLabel="name"
           bindValue="value"
           placeholder="{{ 'common.choose_one' | translate }}"
           [virtualScroll]="true"
           [(ngModel)]="size"
           [clearable]=false
           (change)="search($event,'size')">
         </ng-select>
       </div>
     </div>
   </div>
 </section>
