<div class="container-fluid">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					Invoices 2
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Pages</li>
					<li class="breadcrumb-item active">Invoices 2</li>
				</ul>
			</div>
			<div class="col-lg-7 col-md-4 col-sm-12 text-right">
				<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
					<div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true"></div>
					<span>Visitors</span>
				</div>
				<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
					<div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true"></div>
					<span>Visits</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
					<h2>Single Invoice</h2>
					<ul class="header-dropdown">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							 aria-expanded="false"></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="javascript:void(0);">Print Invoices</a></li>
								<li role="presentation" class="divider"></li>
								<li><a href="javascript:void(0);">Export to XLS</a></li>
								<li><a href="javascript:void(0);">Export to CSV</a></li>
								<li><a href="javascript:void(0);">Export to XML</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<h3>Invoice Details : <strong class="text-primary">#A0089</strong></h3>
					<ul class="nav nav-tabs-new2">
						<li class="nav-item inlineblock"><a class="nav-link active" [routerLink] = "['/admin/pages/page-invoices2']" fragment="details" [ngClass]="{'active':fragment == 'details'}">Details</a></li>
						<li class="nav-item inlineblock"><a class="nav-link" [routerLink] = "['/admin/pages/page-invoices2']" fragment="history" [ngClass]="{'active':fragment == 'history'}">History</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane" [ngClass]="{'active':fragment == 'details'}">
							<div class="row clearfix">
								<div class="col-md-6 col-sm-6">
									<address>
										<strong>ThemeMakker Inc.</strong><br>
										795 Folsom Ave, Suite 546<br>
										San Francisco, CA 54656<br>
										<abbr title="Phone">P:</abbr> (123) 456-34636
									</address>
								</div>
								<div class="col-md-6 col-sm-6 text-right">
									<p class="m-b-0"><strong>Order Date: </strong> Jun 15, 2018</p>
									<p class="m-b-0"><strong>Order Status: </strong> <span class="badge badge-warning m-b-0">Pending</span></p>
									<p><strong>Order ID: </strong> #123456</p>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table table-hover">
											<thead class="thead-dark">
												<tr>
													<th>#</th>
													<th>Item</th>
													<th class="hidden-sm-down">Description</th>
													<th>Quantity</th>
													<th class="hidden-sm-down">Unit Cost</th>
													<th>Total</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Simple Black Clock</td>
													<td class="hidden-sm-down">Lorem ipsum dolor sit amet.</td>
													<td>1</td>
													<td class="hidden-sm-down">$380</td>
													<td>$380</td>
												</tr>
												<tr>
													<td>2</td>
													<td>Brone Candle</td>
													<td class="hidden-sm-down">There are many variations of passages of Lorem Ipsum</td>
													<td>5</td>
													<td class="hidden-sm-down">$50</td>
													<td>$250</td>
												</tr>
												<tr>
													<td>3</td>
													<td>Wood Simple Clock</td>
													<td class="hidden-sm-down">Lorem ipsum dolor sit amet.</td>
													<td>2</td>
													<td class="hidden-sm-down">$500</td>
													<td>$1000</td>
												</tr>
												<tr>
													<td>4</td>
													<td>Unero Small Bag</td>
													<td class="hidden-sm-down">Contrary to popular belief, not simply random text</td>
													<td>3</td>
													<td class="hidden-sm-down">$300</td>
													<td>$900</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<hr>
							<div class="row clearfix">
								<div class="col-md-6">
									<h5>Note</h5>
									<p>Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
										plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.</p>
								</div>
								<div class="col-md-6 text-right">
									<p class="m-b-0"><b>Sub-total:</b> 2930.00</p>
									<p class="m-b-0">Discout: 12.9%</p>
									<p class="m-b-0">VAT: 12.9%</p>
									<h3 class="m-b-0 m-t-10">USD 2930.00</h3>
								</div>
								<div class="hidden-print col-md-12 text-right">
									<hr>
									<button class="btn btn-outline-secondary mr-1"><i class="icon-printer"></i></button>
									<button class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
						<div class="tab-pane" [ngClass]="{'active':fragment == 'history'}">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<address>
										<strong>ThemeMakker Inc.</strong><br>
										795 Folsom Ave, Suite 546<br>
										San Francisco, CA 54656<br>
										<abbr title="Phone">P:</abbr> (123) 456-34636
									</address>
								</div>
								<div class="col-md-6 col-sm-6 text-right">
									<p class="m-b-0"><strong>Order Date: </strong> Jun 15, 2018</p>
									<p class="m-b-0"><strong>Order Status: </strong> <span class="badge bg-orange">Pending</span></p>
									<p><strong>Order ID: </strong> #123456</p>
								</div>
							</div>
							<div class="mt-40"></div>
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>#</th>
													<th>Description</th>
													<th>Date</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Invoice Created</td>
													<td>18 Dec, 2017</td>
													<td><span class="badge badge-default">Panding</span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>Invoice Sent</td>
													<td>19 Dec, 2017</td>
													<td><span class="badge badge-default">Panding</span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>Invoice Paid</td>
													<td>20 Dec, 2017</td>
													<td><span class="badge badge-success">Success</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
