<form [formGroup]="ModeForm" name="addressform" novalidate>
    <div class="form-group row no-padding-left" [ngClass]="displayCssFor('lastname')">
      <label for="lastname" class="col-sm-3 col-form-label text-right">{{'common.lastname' | translate}}</label>
      <div class="input-group col-sm-9">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input class="form-control" formControlName="lastname"/>
        <div class="col-sm-12">
          <div *ngIf="hasError('lastname', 'required')" class="help-block" >
            {{ 'translate.required' | translate: {field: translate('common.lastname')} }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row no-padding-right" [ngClass]="displayCssFor('firstname')">
      <label for="firstname" class="col-sm-3 col-form-label text-right">{{'common.firstname'| translate }}</label>
      <div class="input-group col-sm-9">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input class="form-control" formControlName="firstname" />
        <div class="col-sm-12">
          <div *ngIf="hasError('lastname', 'required')" class="help-block" >
            {{ 'translate.required' | translate: {field: translate('common.lastname')} }}
          </div>
        </div>
      </div>
    </div>
  </form>

