<base-modal [title]="' '" [params]=params #modalchild (CallModalCBEmmitter)="CloseModalCB()" (CallModalOpenCBEmmitter)="OpenModalCB()">
  <admin-stocksqtys-from *ngIf="content=='form'" #modalcontent
                       (openModalEmmitter)="openModal()"
                       (closeModalEmmitter)="closeModal()"
                       (loadingIndicatorEmmitter)='loadingIndicatorEmitter($event)'
                       (refreshTableRowEmmitter)='refreshTableRowEmitter($event)'></admin-stocksqtys-from>

</base-modal>
