<ng-select [items]="items"
  labelForId="value"
  bindLabel="name"
  bindValue="id"
  placeholder="{{'common.choose_one'| translate}}"
  [virtualScroll]="true"
  [(ngModel)]="value"
  (change)="change($event)">
  <ng-template ng-label-tmp let-item="item">
      <div *ngIf="(item.name != null && item.name != '')">
        <img height="15" width="15" [src]="sanitize(item.avatar)"/> {{item.name}}
      </div>
  </ng-template>
  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
    <div *ngIf="(item.name != null && item.name != '')">
      <img height="15" width="15" [src]="sanitize(item.avatar)"/>{{item.name}}
    </div>
  </ng-template>
</ng-select>
