/* You can add global styles to this file, and also import other style files */
.echart-line-chart {
    height: 3em;
    width: 8em;
}
.echart-line-chart-area {
    height: 50px;
}
.fix-h-292{
    height:292px !important;
}
.echart-doughnut { width:150px;height:150px;margin:0 auto;}

.cwidget-scroll{
    height: 260px;
    overflow: auto;
}

.sidebar {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.sidebar::-webkit-scrollbar { /* WebKit */
    width: 0px;
}
.parsley-errors-list {
    list-style-type: none;
    line-height: 0.9em;
    padding-left: 5px;
}
.form-control,.custom-file-input{
    height:auto;
}

.datatable-body-cell ul{
  margin-bottom: 0 !important;
}

.own-custom-select{
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.fancy-radio.custom-color-pink input[type="radio"]:checked+span i:after{
  background-color:#e580c7
}

.w-fit-content{
  width: fit-content !important;
}

.hide_after::after{
  display: none !important;
}

i.hide_after{
  border: none !important;
}

.h7{
  font-size:0.8rem
}

.has-error .help-block{
  color : #de4848
}


