<div class="container-fluid">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					Teams Board
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Pages</li>
					<li class="breadcrumb-item active">Teams Board</li>
				</ul>
			</div>
			<div class="col-lg-7 col-md-4 col-sm-12 text-right">
				<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
					<div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true"></div>
					<span>Visitors</span>
				</div>
				<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
					<div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true"></div>
					<span>Visits</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="header">
					<h2>DS - Design Team <small>Ranking 2th</small></h2>
					<ul class="header-dropdown">
						<li class="dropdown" ngbDropdown>
							<a href="javascript:void(0);" class="dropdown-toggle" role="button" ngbDropdownToggle></a>
							<ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
								<li><a href="javascript:void(0);">Action</a></li>
								<li><a href="javascript:void(0);">Another Action</a></li>
								<li><a href="javascript:void(0);">Something else</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
						at its layout.</p>
					<ul class="list-unstyled team-info m-t-20">
						<li class="m-r-15"><small class="text-muted">Team</small></li>
						<li><img src="assets/images/xs/avatar1.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar2.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar3.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar4.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar5.jpg" title="Avatar" alt="Avatar"></li>
					</ul>
					<p>
						<ngb-progressbar type="success" [value]="87" height="5px"></ngb-progressbar>
					</p>
					<div class="row">
						<div class="col-7">
							<small>PROJECTS: 12</small>
							<h6>BUDGET: 4,870 USD</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="header">
					<h2>MT - Marketing Team <small>Ranking 4th</small></h2>
					<ul class="header-dropdown">
						<li class="dropdown" ngbDropdown>
							<a href="javascript:void(0);" class="dropdown-toggle" role="button" ngbDropdownToggle></a>
							<ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
								<li><a href="javascript:void(0);">Action</a></li>
								<li><a href="javascript:void(0);">Another Action</a></li>
								<li><a href="javascript:void(0);">Something else</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<h6 class="m-b-15">Info about Marketing Team</h6>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
						at its layout.</p>
					<ul class="list-unstyled team-info m-t-20">
						<li class="m-r-15"><small class="text-muted">Team</small></li>
						<li><img src="assets/images/xs/avatar10.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar9.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar8.jpg" title="Avatar" alt="Avatar"></li>
					</ul>
					<p>
						<ngb-progressbar type="info"  [value]="34" height="5px"></ngb-progressbar>
					</p>
					<div class="row">
						<div class="col-7">
							<small>PROJECTS: 08</small>
							<h6>BUDGET: 2,170 USD</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="header">
					<h2>DT - Developers Team <small>Ranking 5th</small></h2>
					<ul class="header-dropdown">
						<li class="dropdown" ngbDropdown>
							<a href="javascript:void(0);" class="dropdown-toggle" role="button" ngbDropdownToggle></a>
							<ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
								<li><a href="javascript:void(0);">Action</a></li>
								<li><a href="javascript:void(0);">Another Action</a></li>
								<li><a href="javascript:void(0);">Something else</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<h6 class="m-b-15">Info about Developers Team</h6>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
						at its layout.</p>
					<ul class="list-unstyled team-info m-t-20">
						<li class="m-r-15"><small class="text-muted">Team</small></li>
						<li><img src="assets/images/xs/avatar1.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar2.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar3.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar4.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar5.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar6.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar7.jpg" title="Avatar" alt="Avatar"></li>
					</ul>
					<p>
						<ngb-progressbar type="warning" [value]="34" height="5px"></ngb-progressbar>
					</p>
					<div class="row">
						<div class="col-7">
							<small>PROJECTS: 23</small>
							<h6>BUDGET: 8,000 USD</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="header">
					<h2>GT - Graphic Team <small>Ranking 2th</small></h2>
					<ul class="header-dropdown">
						<li class="dropdown" ngbDropdown>
							<a href="javascript:void(0);" class="dropdown-toggle" role="button" ngbDropdownToggle></a>
							<ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
								<li><a href="javascript:void(0);">Action</a></li>
								<li><a href="javascript:void(0);">Another Action</a></li>
								<li><a href="javascript:void(0);">Something else</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<h6 class="m-b-15">Info about Graphic Team</h6>
					<p>There are many variations of passages of Lorem Ipsum available, but the have suffered alteration in some form.</p>
					<ul class="list-unstyled team-info m-t-20">
						<li class="m-r-15"><small class="text-muted">Team</small></li>
						<li><img src="assets/images/xs/avatar4.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar5.jpg" title="Avatar" alt="Avatar"></li>
					</ul>
					<p>
						<ngb-progressbar type="primary" [value]="67" height="5px"></ngb-progressbar>
					</p>
					<div class="row">
						<div class="col-7">
							<small>PROJECTS: 2</small>
							<h6>BUDGET: 3,370 USD</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="header">
					<h2>ST - Sales Team <small>Ranking 7th</small></h2>
					<ul class="header-dropdown">
						<li class="dropdown" ngbDropdown>
							<a href="javascript:void(0);" class="dropdown-toggle" role="button" ngbDropdownToggle></a>
							<ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
								<li><a href="javascript:void(0);">Action</a></li>
								<li><a href="javascript:void(0);">Another Action</a></li>
								<li><a href="javascript:void(0);">Something else</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<h6 class="m-b-15">Info about Sales Team</h6>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
						literature.</p>
					<ul class="list-unstyled team-info m-t-20">
						<li class="m-r-15"><small class="text-muted">Team</small></li>
						<li><img src="assets/images/xs/avatar5.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar1.jpg" title="Avatar" alt="Avatar"></li>
					</ul>
					<p>
						<ngb-progressbar type="secondary" [value]="23" height="5px"></ngb-progressbar>
					</p>
					<div class="row">
						<div class="col-7">
							<small>PROJECTS: 12</small>
							<h6>BUDGET: 5,100 USD</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="header">
					<h2>BD - Business Development <small>Ranking 8th</small></h2>
					<ul class="header-dropdown">
						<li class="dropdown" ngbDropdown>
							<a href="javascript:void(0);" class="dropdown-toggle" role="button" ngbDropdownToggle></a>
							<ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
								<li><a href="javascript:void(0);">Action</a></li>
								<li><a href="javascript:void(0);">Another Action</a></li>
								<li><a href="javascript:void(0);">Something else</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<h6 class="m-b-15">Info about Business Development Team</h6>
					<p>Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard.</p>
					<ul class="list-unstyled team-info m-t-20">
						<li class="m-r-15"><small class="text-muted">Team</small></li>
						<li><img src="assets/images/xs/avatar2.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar3.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar5.jpg" title="Avatar" alt="Avatar"></li>
						<li><img src="assets/images/xs/avatar7.jpg" title="Avatar" alt="Avatar"></li>
					</ul>
					<p>
						<ngb-progressbar type="danger" [value]="10" height="5px"></ngb-progressbar>
					</p>
					<div class="row">
						<div class="col-7">
							<small>PROJECTS: 23</small>
							<h6>BUDGET: 11,000 USD</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
