<div *ngIf="!isLoading()">
    <form [formGroup]="ModeForm" name="form" (ngSubmit)="ModeForm.valid && processor('ModeForm')" #formDir="ngForm" novalidate>
            <div class="form-group" [ngClass]="displayCssFor('name')">
                <label for="name">{{'permission.name' | translate}}</label>
                <input type="text" class="form-control" formControlName="name"/>
                <div *ngIf="hasError('name', 'required')"  class="help-block">Name is required</div>
            </div>
           <div class="form-group" [ngClass]="displayCssFor('slug')">
                <label for="slug">Slug</label>
                <input type="text" class="form-control" formControlName="slug"/>
                <div *ngIf="hasError('slug', 'required')"  class="help-block">Slug is required</div>
            </div>
        <div class="form-group col-sm-2">
                <button type="submit" [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">{{'common.'+action | translate}}</button>
                <img *ngIf="loading" [src]="sanitize(loadingGIF)" />
                <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
            </div>
            <div class="form-group col-sm-2 col-sm-offset-8 text-right">
                <button type="button"  class="btn btn-primary" (click)="closeModal('ModeForm')">{{'common.close' | translate}}</button>
            </div>
    </form>
</div>
