<div id="wrapper">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle auth-main">
			<div class="auth-box">
				<div class="top">
				<!--	<img src="assets/images/logo-white.svg" alt="ses-connect"> -->
				</div>
				<div class="card">
					<div class="header">
						<p class="lead">Belépés</p>
						<alert></alert>
					</div>
					<div class="body">
						<form class="form-auth-small" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
							<div class="form-group">
								<label for="username">Felhasználónév</label>
								<input type="text" class="form-control" name="login_username" [(ngModel)]="model.username" #username="ngModel" required />
								<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
							</div>
							<div class="form-group">
								<label for="password">Jelszó</label>
								<input type="password" class="form-control" name="login_password" [(ngModel)]="model.password" #password="ngModel" required />
								<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
							</div>
							<div class="form-group clearfix">
								<label class="fancy-checkbox element-left">
									<input type="checkbox">
									<span>Remember me</span>
								</label>
							</div>
							<button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
							<div class="bottom">
								<span class="helper-text m-b-10"><i class="fa fa-lock"></i>&nbsp;<a [routerLink]="['/authentication/page-forgot-password']">Forgot
										password?</a></span>
								<span>Don't have an account? <a [routerLink]="['/authentication/page-register']">Register</a></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
