<form [formGroup]="AddressForm" name="addressform" novalidate>
  <div class="form-group">
    <div class="col-xs-12 no-padding">
      <label>{{'common.address' | translate}}</label>
    </div>
    <div class="col-xs-12 no-padding">
      <div class="form-group col-xs-2 no-padding-left" [ngClass]="displayCssFor('zip')">
        <label for="zip">{{'common.zip' | translate}}</label>
        <input class="form-control" formControlName="zip" (change)="changeZip()"/>
        <div *ngIf="( isSubbmit || AddressForm.controls.zip.touched) && AddressForm.controls.zip.hasError('required')" class="help-block">{{'common.zip'| translate}} {{'common.field'| translate}}  {{'common.specifying' | translate}} {{'common.required'| translate}}</div>
      </div>
      <div class="form-group col-xs-3 no-padding" [ngClass]="displayCssFor('settlemen')">
        <label for="settlemen">{{'common.settlemen' | translate }}</label>
        <input class="form-control" formControlName="settlemen" [readonly]="true"/>
        <div *ngIf="( isSubbmit || AddressForm.controls.settlemen.touched) && AddressForm.controls.settlemen.hasError('required')" class="help-block">{{'common.settlemen' | translate}} {{'common.field' | translate}}  {{'common.specifying' | translate}} {{'common.required' | translate}}</div>
      </div>
      <div class="form-group col-xs-7 no-padding-right" [ngClass]="displayCssFor('address')">
        <label for="address">{{'common.address' | translate}}</label>
        <input class="form-control" formControlName="address" />
        <div *ngIf="( isSubbmit || AddressForm.controls.address.touched) && AddressForm.controls.address.hasError('required')" class="help-block">{{'common.address' | translate}} {{'common.field'| translate}}  {{'common.specifying' | translate}} {{'common.required'| translate}}</div>
      </div>
    </div>
  </div>
</form>

