<div *ngIf="!isLoading()">
      <form [formGroup]="ModeForm" name="ModeForm" (ngSubmit)="ModeForm.valid && processor()" #formDir="ngForm" novalidate>

        <div class="col-sm-12">
          <div class="col-lg-4 pull-none" formArrayName="roles"
        *ngFor="let item of ModeForm.get('roles').controls; let i = index; ">
            <div class="form-group col-sm-12 no-padding-left" [formGroupName]="i">

              <div class="pretty p-default p-curve p-fill col-xs-2">
                <input type="checkbox" [checked]="item.value.checked" (change)="onChangeChecked('roles',item, $event.target.checked)"/>
                <div class="state text-left">
                  <label>{{item.value.display_name}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col-sm-12">
           <div class="form-group ">
                <button type="submit" [disabled]="loading" class="btn btn-primary">{{'common'+action | translate}}</button>
                <img *ngIf="loading" [src]="sanitize(loadingGIF)" />
            </div>
            <div class="form-group col-sm-2 col-sm-offset-8 text-right">
                <button type="button"  class="btn btn-primary" (click)="closeModal()">{{'common.close' | translate}}</button>
            </div>
          </div>
        </form>
</div>
