<div *ngIf="!isLoading()">
  <form [formGroup]="ModeForm" name="form" (ngSubmit)="ModeForm.valid && processor('ModeForm')" #formDir="ngForm" novalidate>
    <div class="form-group" [ngClass]="displayCssFor('closed')">
      <label for="closed">{{'common.synced' | translate}}</label>
      <input type="checkbox" class="form-control" formControlName="synced"/>
      <div *ngIf="hasError('synced', 'required')"  class="help-block">{{'common.synced' | translate}}</div>
    </div>
    <div class="form-group col-sm-2">
      <button type="submit" [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">{{'common.'+action | translate}}</button>
      <img *ngIf="loading" [src]="sanitize(loadingGIF)" />
      <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
    </div>
    <div class="form-group col-sm-2 col-sm-offset-8 text-right">
      <button type="button"  class="btn btn-primary" (click)="closeModal('ModeForm')">{{'common.close' | translate}}</button>
    </div>
  </form>
</div>


