<div *ngIf="!isLoading()">
          <form [formGroup]="ModeForm" name="form" (ngSubmit)="ModeForm.valid && processor('ModeForm')" #formDir="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': formDir.submitted && ModeForm.controls.name.invalid }">
                <label for="name">{{'common.usergroup_name' | translate}}</label>
                <input type="text" class="form-control" formControlName="name"/>
                <div *ngIf="( formDir.submitted || ModeForm.controls.name.touched) && ModeForm.controls.name.hasError('required')" class="help-block">Name is required</div>
            </div>
        <div class="form-group col-sm-2">
                <button type="submit" [disabled]="loading" class="btn btn-primary">{{'common'+action | translate}}</button>
                <img *ngIf="loading" [src]="sanitize(loadingGIF)" />
                <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
            </div>
            <div class="form-group col-sm-2 col-sm-offset-8 text-right">
                <button type="button"  class="btn btn-primary" (click)="closeModal('ModeForm')">{{'common.close' | translate}}</button>
            </div>
        </form>
</div>
