<div class="{{params.classes.container}}">
    <lw-head [params]='params' (_inneradd)="inneradd(getPropVal(params,'params.filter'))" (_search) ="search({event: $event, mode :mode})"></lw-head>

    <section class="content">
    <c-datatable-new
      [params] = "params"
      [rows]="rows"
      (_click)="clickevent($event)"
      (_search)="search($event)"
      (_onChangeCheckbox)="onChangeCheckbox($event)"
      (_setPage)="setPage($event)"
      (scrollbarH)="true"
      #datatable
    ></c-datatable-new>
    </section>
    <div class="form-group">
        <button type="submit" (click)="save()" class="btn btn-primary">{{'common.save' | translate}}</button>
    </div>
  </div>
