<div class="input-group col-sm-9">
  <div class="input-group-addon no-padding">
    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
        <i class="fa fa-calendar"></i>
    </button>
  </div>
  <input
    class="form-control"
    placeholder="éééé-hh-nn"
    name="dp"
    [(ngModel)]="value"
    ngbDatepicker
    [minDate]="getOptRange('min')"
    [maxDate]="getOptRange('max')"
    #d="ngbDatepicker"
    (change)="change($event)"
    (dateSelect)="change($event)">
</div>

