<ng-template #HTMLContent>
    <div *ngIf="isMode('simple')">
      <p></p>
    </div>
    <app-popup-infobox *ngIf="isMode('avatar')" [data]="avatar" style="word-wrap: break-word;"></app-popup-infobox>
 </ng-template>
<img [tooltip]="HTMLContent"
  [options]="options"
  [ngClass]="imgClass"
  class="img-responsive"
  [src]="sanitize(avatar.avatar)"
  alt="{{avatar.fullname}}{{avatar.name}}">
