<base-modal [title]="' '" [params]=params #modalchild (CallModalCBEmmitter)="CloseModalCB()" (CallModalOpenCBEmmitter)="OpenModalCB()">
  <admin-products-from *ngIf="content=='form'" #modalcontent
                        (openModalEmmitter)="openModal()"
                        (closeModalEmmitter)="closeModal()"
                        (loadingIndicatorEmmitter)='loadingIndicatorEmitter($event)'
                        (refreshTableRowEmmitter)='refreshTableRowEmitter($event)'></admin-products-from>

</base-modal>
