<div class="container-fluid">
  <div class="{{params.getClass('container')}}">
    <c-button
            [button]="params.createButton.button"
            [label]="params.createButton.label"
            [tloc]="params.createButton.tloc"
            (click)="clickevent({method:params.createButton.action, params:[params.apiparams.filter.parent_id]})"
            *ngIf="isButtonDisplay(params.createButton,params)">
    </c-button>

    <lw-head [params]='params' (_inneradd)="inneradd(getPropVal(params,'params.filter'))" (_search) ="search({event: $event, mode :mode})"></lw-head>
    <section class="content">
      <c-datatable-new
              [params] = "params"
              [detail] = "true"
              [rows]="rows"
              (_click)="clickevent($event)"
              (_search)="search($event)"
              (_setPage)="setPage($event)"
              #datatable
              [templateRef]="expandedRow"
      ></c-datatable-new>
    </section>
  </div>
</div>
<ng-template #expandedRow let-row="row">
  <div id="detaile_container" class="row col-12">
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.gyartommegnevezese' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.gyartommegnevezese}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.magento_id' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.magento_id}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.created_at' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.created_at}}</h6></div>
    </div>
    <div class="row col-12">
      <div class="col-3"><h6><strong>{{'common.updated_at' | translate}}</strong></h6></div>
      <div class="col-7"><h6>{{row.updated_at}}</h6></div>
    </div>
  </div>
</ng-template>
<admin-products-modal *ngIf="((params.domelem.isDisplay('AddButton') && params.domelem.isDisplay('EditButton')))" [params] = "params" (loadingIndicatorEmmitter)='changeLoadingIndicator($event)' (refreshTableRowEmmitter)='refreshTableRow($event)'></admin-products-modal>

