<p-checkbox color="success" [checked]="data" (change)="onChange($event.checked)"></p-checkbox>
<div *ngIf="resetable" class="btn btn-danger closeBtn" (click)="onChange(null)"><span class="glyphicon glyphicon-remove"></span></div>
